body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: GhostWhite;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    line-height: 1.3;
    text-align: justify;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
}

#navbar {
    width: 22%;
    min-width: 21%;
    height: 100%;
    border-right: solid;
    border-color: CadetBlue;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: scroll;
}

#navbar header {
    text-align: center;
    padding: 25px 20px;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom: solid 1px black;
}

.nav-link {
    text-decoration: none;
    padding: 14px 0 14px 20px;
    border-bottom: solid 1px black;
    color: #4d4e53;
    font-size: 1.2rem;
}

#main-doc {
    width: 71%;
    padding: 20px 35px 35px 35px;
    position: absolute;
    margin-left: 23%;
}

.main-section header {
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 15px;
}

.strong {
    font-weight: 700;
}

ul > li {
    padding-bottom: 8px;
}

.section-body {
    padding-left: 15px;
}

code {
    background-color: PowderBlue;
    padding: 15px 0 15px 30px;
    margin: 15px;
    border-radius: 5px;
    display: block;
}

h3 {
    margin-bottom: 0;
}

.selectors-body {
    counter-reset: section;
}

.selectors::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.top-margin {
    margin-top: 10px;
}

.add-css-body {
    counter-reset: section;
}

.add-css::before {
    counter-increment: section;
    content: counter(section) ". ";
}

@media only screen and (max-width: 992px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        height: 300px;
        overflow: scroll;
    }
    
    #main-doc {
        width: 95%;
        position: relative;
        margin-top: 300px;
        margin-left: 0;
        padding: 15px;
    }
    
    .nav-link {
        text-align: center;
        padding: 10px;
    }
}
